@using Vault.Web.Models
<XBox
    Id="top-nav"
    TopLeft="Welcome!"
    TopRight="@DateTime.Now.ToShortTimeString()"
>
    <div stack-="column">
        
        @if (IndexSignals != null)
        {
            <blockquote>
                <p>Public Key: <span>@IndexSignals.PublicKey</span> </p>
                <p>Default Vault: @(IndexSignals.DefaultVault ?? "n/a")</p>
            </blockquote>
            
            <p>Select a command:</p>
            <XButton Size="XSize.Small" Text="xv logout" DataOnClick="@("@get('/sse/logout')")"/>
        }
        else
        {
            <p>Select a command:</p>
            <XButton Text="xv login --token" DataOnClick="@(FragmentPaths.Login.GetToken)"/>
            <XButton Text="xv login --seed" DataOnClick="@(FragmentPaths.Login.GetSeed)"/>
            <XButton Text="xv login --generate" DataOnClick="@(FragmentPaths.Login.GetGenerate)"/>
            <XButton Text="xv --help" DataOnClick="@(FragmentPaths.Help)"/>
        }
    </div>
</XBox>

@code {

    [Parameter]
    public IndexSignals? IndexSignals { get; set; }

}