@switch (Size)
{
    case XSize.Small:
        <button type="@Type" size-="small" data-on-click=@DataOnClick>@Text</button>
        break;
    case XSize.Large:
        <button type="@Type" size-="large">@Text</button>
        break;
    case XSize.Default:
    default:
        <button type="@Type">@Text</button>
        break;
}

@code {

    [Parameter]
    public string Type { get; set; } = "button";

    [Parameter]
    public XSize Size { get; set; } = XSize.Small;

    [Parameter]
    public string Text { get; set; } = string.Empty;

    [Parameter]
    public string? DataOnClick { get; set; }

    
}