<div class="terminal-form-group">
    <label for="@Id" class="terminal-label">@Label</label>
    <input value="@Text" type="@Type" name="@Id" id="@Id" class="terminal-input"/>
</div>

@code {
    [Parameter]
    public string Id { get; set; } = string.Empty;

    [Parameter]
    public string Label { get; set; } = string.Empty;

    [Parameter]
    public string Text { get; set; } = string.Empty;
    
    [Parameter]
    public string Type { get; set; } = "text";
}